@font-face {
  font-family: iranyekan;
  font-weight: 200;
  src: url(../fonts/IRANYekanWebRegular.ttf);
}

@font-face {
  font-family: iranyekan;
  font-weight: 400;
  src: url(../fonts/IRANYekanWebExtraBold.ttf);
}

@font-face {
  font-family: iranyekan;
  font-weight: 600;
  src: url(../fonts/IRANYekanWebExtraBlack.ttf);
}

* {
  box-sizing: border-box;
  color: #333;
  font-family: iranyekan;
  font-weight: 200;
}

body {
  margin: 0;
  direction: rtl;
  padding-bottom: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 60px;
}

.clearfix {
  clear: both;
}

.p_15 {
  padding-right: 15px;
  padding-left: 15px;
}
/*  Start Header Styles */

.header {
  width: 100%;
  height: 65px;
  background-color: #fff;
  box-shadow: 0px 1px 2px #bbb;
}

.header_logo {
  float: right;
  padding-top: 6px;
}

.header_logo img {
  width: 50px;
  height: auto;
}

.header_nav {
  float: right;
  margin-right: 30px;
}

.header_nav li {
  display: inline-block;
  padding: 23px 10px;
  float: right;
}

.btn_login {
  background-color: #0080ff;
  color: #fff;
  border: none;
  padding: 9px 11px;
  margin: 16px 0;
  border-radius: 3px;
  cursor: pointer;
  float: left;
}

/*  Start page_intro */

.page_intro {
  width: 100%;
  height: auto;
  background: rgb(0, 129, 181);
  background: linear-gradient(
    90deg,
    rgb(78, 204, 253) 0%,
    rgba(0, 96, 252, 1) 100%
  );
  padding: 50px 0;
}

.page_intro_right {
  width: 50%;
  height: auto;
  float: right;
  text-align: right;
}

.page_intro_right h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
}

.page_intro_right_btns {
  margin: 0 auto;
  width: 350px;
}

.page_intro_right_btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  width: 160px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  float: right;
  margin-left: 8px;
}

.page_intro_left {
  width: 50%;
  height: auto;
  float: right;
}

.page_intro_left img {
  width: 100%;
  height: auto;
  /* max-height: 400px; */
}

/* New Posts */

.new_product {
  width: 25%;
  height: auto;
  float: right;
  padding: 15px;
}

.new_products h2 {
  font-weight: 400;
  margin: 20px;
}

.new_product_card {
  width: 100%;
  height: 335px;
  box-shadow: 0px 1px 3px #bbb;
}

.new_product_img {
  width: 100%;
  height: 250px;
}

.new_product_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.new_product_body {
  padding: 10px;
}

.new_product_title {
  margin: 0;
  float: right;
  font-weight: 400;
}

.new_product_price {
  margin: 0;
  float: left;
  color: #777;
  text-decoration: line-through;
}

.new_product_description {
  margin: 0;
  float: right;
  text-overflow: ellipsis;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}

.new_product_price_off {
  margin: 0;
  float: left;
}

/*  Main AD */
.main_ad {
  padding-top: 20px;
}

.main_ad_right {
  width: 75%;
  height: 400px;
  float: right;
  padding: 15px;
}

.main_ad_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.main_ad_left {
  width: 25%;
  height: 400px;
  float: left;
  padding: 15px;
}

.main_ad_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

/*  Most Sales */
.most_sales h2 {
  margin: 20px;
  font-weight: 400;
}

.most_sales_item {
  float: right;
  width: calc(100% / 3);
  height: 350px;
  padding: 15px;
}

/*  Responsive */
@media screen and (max-width: 1200px) {
  .new_product {
    width: 50%;
  }
  .container {
    padding: 0 200px;
  }

  .main_ad_left {
    display: none;
  }
  .main_ad_right {
    width: 100%;
  }
  .most_sales_item {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .new_product {
    width: 100%;
  }
  .container {
    padding: 0 100px;
  }
  .main_ad_left {
    display: block;
    width: 100%;
  }
  .main_ad_right {
    display: none;
  }
  .most_sales_item {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .new_product {
    width: 100%;
  }
  .container {
    padding: 0;
  }
}
